@font-face{
    font-family: Cinzen;
    src: url(fonts/Cinzel/Cinzel-VariableFont_wght.ttf);
}

a{
    color: #000;
    text-decoration: none;
    transition: 0.3s;
}

body{
    font-family: Cinzen;
    font-weight: 400;
    padding: 24vh 0 0 0;
    margin: 0;
    background: #e7e7e7;
    position: relative;
    color: #333;
}

header{
    position: fixed;
    width: 96%;
    height: 20vh;
    top: 0;
    background: #e7e7e7be;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-weight: 400;
    transition: 0.3s;
    border-bottom: solid black 2px;
    font-size: 24px;
    padding: 0 2%;
}

.header-logo{
    padding: 3px 15px;
    font-weight: 500;
    transition: 0.3s;
}

.header-logo:hover{
    font-weight: 600;
}

.dropdown-header-menu{
    text-align: right;
}

.dropdown-header-menu-btn{
    height: 30px;
    margin: 15px;
    aspect-ratio: 1/1;
}

.dropdown-header-menu-child{
    display: none;
    text-align: center;
    flex-direction: column;
    transition: 0.3s;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 0px;
    background: #fefefe;
    font-size: 46px;
    z-index: 60;
}

.dropdown-header-menu-child a{
    color: black;
    text-decoration: none;
    padding: 3px 0px;
    transition: 0.3s;
}

.dropdown-menu-header{
    width: 96%;
    height: 20vh;
    background: #fefefebe;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-weight: 500;
    transition: 0.3s;
    border-bottom: solid black 2px;
    font-size: 24px;
    padding: 0 2%;
}

.dropdown-header-logo{
    padding: 3px 15px;
    font-weight: 400;
    transition: 0.3s;
    padding: 0 2%;
}

.dropdown-menu-header-close{
    height: 30px;
    margin: 15px;
    aspect-ratio: 1/1;
}

.dropdown-menu-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.dropdown-menu-list a{
    opacity: 0.4;
    margin: 10px 0px;
}

.dropdown-header-menu-child a:hover{ 
    font-weight: 600;
    opacity: 1;
}


.dropdown-menu-list a:nth-child(1){
    opacity: 1;
}

.inline-header-menu{
    transition: 0.3s;
    display: none;
}

.back-btn{
    position: relative;
    padding: 22vh 5% 15px 5%;
    font-weight: 400;
    font-size: 18px;
    transition: 0.3s;
}

.back-btn:hover{
    font-weight: 600;
}

.back-btn::before{
    display: inline-block;
    background: url(data/back.png);
    background-size: contain;
    content: "";
    width: 10px;
    height: 10px;
    aspect-ratio: 1/1;
    margin: 1px;
}

h1{
    font-size: 21px;
    text-align: center;
    font-weight: 600;
    padding: 30px 10%;
}

.gallery{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery div{
    width: 80%;
    aspect-ratio: 4/3;
    margin: 1.5vh 0px;
}

.pic1{
    background: #ccc;
}

.pic2{
    background: #ccc;
}

.pic3{
    background: #ccc;
}

.pic4{
    background: #ccc;
}

.pic5{
    background: #ccc;
}


.navigation{
    width: 90%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 40px 5%;
    transition: 0.1s;
}

.navigation:hover{
    font-weight: 600;
}

.back{
    width: 50%;
    text-align: left;
}

.back::before{
    display: inline-block;
    background: url(data/back.png);
    background-size: contain;
    content: "";
    width: 10px;
    height: 10px;
    aspect-ratio: 1/1;
    margin: 1px;
}

.next{
    width: 50%;
    text-align: right;
}

.next::after{
    display: inline-block;
    background: url(data/next.png);
    background-size: contain;
    content: "";
    width: 10px;
    height: 10px;
    aspect-ratio: 1/1;
    margin: 1px;
}






footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px 0px 0px;
}

.location, .contact{
    margin: 2px;
    text-align: center;
    width: 50%;
    font-size: 14px;
}

.location h3, .contact h3{
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0px 0px 0px;
}

.location h4, .contact h4{
    font-weight: 400;
    margin: 2px;
}

.createdby{
    margin-top: 50px;
    padding: 10px 2%;
    background: #333;
    width: 96%;
    color: white;
    text-align: center;
}

.createdby h5{
    margin: 20px 0px 10px 0px;
    font-weight: 400;
    font-size: 16px;
}

.createdby-contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.createdby p{
    font-size: 12px;
    margin: 2px 10px;
    text-align: center;
    position: relative;
}

.createdby-telegram::before{
    content: " ";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 5px;
    vertical-align: middle;
    background: url(data/telegram.png);
    background-size: cover;
}

.createdby-instagram::before{
    content: " ";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 5px;
    vertical-align: middle;
    background: url(data/instagram.png);
    background-size: cover;
}

.createdby-email::before{
    content: " ";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 5px;
    vertical-align: middle;
    background: url(data/email.png);
    background-size: cover;
}



/*------------------------Mobile L------------------------*/
@media(min-width: 425px){

}


/*------------------------Tablet------------------------*/
@media(min-width: 768px){

}

/*------------------------Laptop S------------------------*/
@media(min-width: 1024px){

header{
    position: fixed;
    height: 20vh;
}

.header-logo{
    padding: 5px 30px;
}

.dropdown-header-menu{
    display: none;
}

.inline-header-menu{
    height: 100%;
    display: flex;
    align-items: center;
}

.inline-header-menu a{
    vertical-align: middle;
    text-decoration: none;
    color: black;
    font-size: 24px;
    padding-bottom: 15px;
}

.inline-header-menu a {
    vertical-align: middle;
    text-decoration: none;
    color: black;
    padding: 0px 10px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: relative;
    transition: 0.3s;
    opacity: 0.4;
}

.inline-header-menu a:hover{
    font-weight: 600;
    opacity: 1;
}

.inline-header-menu a:nth-child(1){
    opacity: 1;
}

.back-btn{
    padding-left: 10%;
    font-size: 36px;
}

.back-btn::before{
    width: 24px;
    height: 24px;
}


h1{
    font-size: 42px;
}

.gallery div{
    width: 40%;
    margin: 30px;
}


.navigation{
    font-size: 36px;
}

.next::after, .back::before{
    width: 24px;
    height: 24px;
    margin:  0px 8px;
}







footer{
    flex-direction: row;
    margin: 0;
}

.location, .contact{
    width: 40%;
}

.location h3, .contact h3{
    font-size: 24px;
    font-weight: 500;
    margin: 2px;
}

.location h4, .contact h4{
    font-size: 16px;
    font-weight: 400;
    margin: 2px;
}

.createdby-contacts{
    flex-direction: row;
}

.createdby-contacts p{
    width: 30%;
}

}

/*------------------------4K------------------------*/
@media(min-width: 2560px){

header{
    font-size: 48px;
}

.inline-header-menu a{
    font-size: 48px;
}



}